node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
client/node_modules
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
